
<h3 style = "text-align: center";>  </h3>
<p style = "text-align: center"> We are a team of professionals with experience in building statistical learning models, digital marketing design and system software design. Our backgrounds are varied - applied econometrics, marketing and software engineering. We are working on a NLP based product prototype in the field of local governance and also are working on couple of independent projects.
</p>


<div>
{% for item in site.data.settings.homegriditems %}
	<article class = "card-projects-view" >
    	    <header class="card-header">
  		   <p class= "card-suptitle">
			{{item.mintitle}}
		    </p>
                    <h1 class="card-title">
	               <a href = "{{ site.github.url }}/pages/{{ item.file }}" title="View more"> 
{{item.title}} </a>
	            </h1>
             </header>
	     <div class="card-body">
	        <div class="card-prose">
		  <p style = "text-align: left; line-height: 1rem"> 
			{{item.prose}} 
		  </p>
	        </div>
	     </div>
	 </article>
{% endfor %} 
</div>
